@import "./variables.scss";

body {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 12px;
  word-spacing: 0;
  background: #1d2030 radial-gradient(#456, #1d2030);
}

@keyframes popIn {
  from {
    transform: scale(0, 0);
  }
  to {
    transofrm: scale(1, 1);
  }
}

.main-container {
  background-image: url("assets/background-logo.jpeg");
  background-size: cover;
  min-height: 100vh;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  // min-width: 960px;
}

.border {
  overflow: hidden;
  word-break: break-word;
}

@media (min-width: 850px) and (orientation: landscape) {
  .border {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5vh / 50vh;
    margin: 20px;
  }
  .main-container {
    border-radius: 50vh / 5vh;
  }
}

.header {
  padding: 10px;
  font-size: 16px;
  margin: 2em 0;
  border-bottom: 3px dashed $lightBlue;
}
.text {
  margin: 1em;
}

.input {
  width: 100% !important;
  color: white;
  background: transparent;
  border: 2px solid $lightBlue;
  box-shadow: rgba(68, 129, 231, 0.5) 0px 0px 30px 3px;
}
.input:active {
  box-shadow: rgba(#fff, 0.5) 0px 0px 30px 3px;
  border: 2px solid #fff; 
}
.input:focus {
  box-shadow: rgba(#fff, 0.5) 0px 0px 30px 3px;
  border: 2px solid #fff;
  outline: none;
}

.button {
  width: 100%;
  color: white;
  height: 38px;
  border: 2px solid $lightBlue; 
  box-shadow: rgba(68, 129, 231, 0.5) 0px 0px 30px -1px;
  background: transparent;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  border: 2px solid white;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 30px -1px;
}
.button:focus {
  outline: none;
}

.wrapper {
  margin: $defaultMargin;
  padding-bottom: 50px;
  animation: popIn 0.6s;
}

.btn-primary {
  color: #fff;
  background-color: #209cee;
  box-shadow: inset -4px -4px $lightBlue;
}

.btn-primary:hover {
  background-color: #108de0;
  box-shadow: inset -6px -6px #006bb3;
}
.btn-primary:active {
  box-shadow: inset 4px 4px #006bb3;
}

.input {
  margin: 0;
}

.disabled {
  color: gray;
}
.disabled:hover {
  cursor: default !important;
}